.bgContainer{
    background-color: rgb(209, 226, 249)/**/;
    height: 100vh;
}
.btn1{
    padding: 10px;
    background-color: #4c63b6;
    color: white;
    width: 100px;
    margin-top: 20px;
    border-radius: 4px;
    border-width: 0px;
    margin-bottom: 30px;

}
.inputElement{
    width: 100%;
    height: 65px;
    border-radius: 8px;
    border-width: 0.5px;
    border-color: gray;
}
.heading{
    text-align: center;
}
.inputChecklist{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    

}

.todoContainer{
    margin-top: 15px;
}
.containerOfList{
    background-color: #e6f6ff;
    border-color: #096f92;
    border-width: 5px;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    border-radius: 4px;
    margin-left: 15px;
}
.singleElement{

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 95%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.spl{
    font-weight: 700;
}

.del-icon-container{
    text-align: right;
    width: 18px;
}
.idel{
    padding: 15px;
}